.notion-tag {
  color: #000;
  // line-height: 1.2em;
  // height: 1.2em;
  margin: 2px 0;
  margin-right: 5px;
  // &:last-child {
  //   margin-right: 0;
  // }
}

.notion-default {
  background-color: #e9e8e7;
}

.notion-gray {
  background-color: #e3e2e0;
}

.notion-brown {
  background-color: #eee0da;
}

.notion-orange {
  background-color: #fadec9;
}

.notion-yellow {
  background-color: #fdecc8;
}

.notion-green {
  background-color: #dbeddb;
}

.notion-blue {
  background-color: #d3e5ef;
}

.notion-purple {
  background-color: #e8deee;
}

.notion-pink {
  background-color: #f5e0e9;
}

.notion-red {
  background-color: #ffe2dd;
}

